:root {
    --color-borde: rgb(157, 152, 152);
    --color-eliminarCarruto: #d83636;
    --color-procederPago: #920892;
}

.header {
    width: 100%;
}

h1 {
    margin-left: 9%;
}

.linea-horizontal {
    border: 1px solid var(--color-borde);
    margin-bottom: 10px;
    margin-left: 113px;
}

.linea-horizontal-total-productos {
    border: 1px solid var(--color-borde);
    margin-bottom: 10px;

}

.img-producto {
    display: flex;
    width: 150px;
}

.margenes{
    border: 1px solid var(--color-borde);
}