:root {
    --color-borde: rgb(157, 152, 152);
    --color-eliminarCarruto: #d83636;
    --color-procederPago: #920892;
    --color-textBlanco: #fff;
}

.header {
    width: 100%;
}

h1 {
    margin-left: 9%;
}

.linea-horizontal {
    border: 1px solid var(--color-borde);
    margin-bottom: 10px;
    margin-left: 113px;
}

.linea-horizontal-total-productos {
    border: 1px solid var(--color-borde);
}

.img-producto {
    display: flex;
    width: 150px;
}

.margenes{
    border: 1px solid var(--color-borde);
    margin-bottom: 10px;
}


h3 {
    font-size: 1rem;
}

.button-Pago {
    background: var(--color-procederPago);
    color: var(--color-textBlanco) ;
    padding: 6px 0;
}


.botones-menos-mas {
    text-align: center;
    margin-top: 50px ;
}


.radio-botones {
    border-radius: 15px;
    text-align: center;
}

.close {
    padding: 4px 12px 0 0!important;
}

