:root {
    --color-morado: #4618AC;
    --color-blanco: 
}

.header{
    background-color: var(--color-morado) ;
}

img {
    width: 200px;
    margin: 10px 0px;
}

input {
    width: 465px;
    padding: 20px;
    margin-top: 2px;
}