body{
    background-color: rgb(178,178, 178);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    margin-left: 25px !important;
}

#img{
    margin-top: 25px;
    margin-left: 25px;
}

.flex{
    background-color: #fff;
    /* border: 1px solid #1b1a1a; */
    margin-left: 530px;
    margin-right: 400px;
    padding-bottom: 50px;

}

.formCorreo {
    margin-left: 25px;
}

.form{
    margin-left: 25px;
}

input {
    width: 87%;
    border: none;
    border-bottom: 1px solid rgb(83, 83, 183);
    background-color: transparent;
}

input:focus-visible{
    outline: none;
}

.display{
    /* display: flex; */
    /* text-align: start; */
    width: 65%;
}

a{
    /* width: 100%; */
    margin-top: 20px;
}

.botones{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 35%;
}

#atras{
    background: rgb(178,178, 178);
    padding: 5px 30px;
    /* margin-right: 70px; */
}

#siguiente{
    background:rgb(0,93,166);
    color: rgb(255, 255, 255);
    padding: 5px 30px;
}

.opInSe{
    display: flex;
    margin-left: 38%;
    margin-top: 20px;
}

#opcionInicioSesion{
    padding: 15px 115px;
    margin-bottom: 100px;
    margin-left: 20px; 
    margin-right: 20px;
    background: #fff;
    background-image: url("image/llave.svg");
    background-repeat: no-repeat;

}

.botonesFooter{
    display: flex;
    border: none;
    background: transparent;
    width: 40%;
    margin-left: 39%;
    padding-bottom: 100px;
}

.row{
    display: flex;    
}

#buttonTermino{
    margin-right: 5px;
    padding: 0 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#privacidadCookies{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}